body {
    background-color: rgb(8, 8, 12);
  }

  canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
    background-color: transparent;
    
  }

  .icon{
    display : flex;
  }

  .icon > img {
    margin: auto;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0.117);
  }

  h1 {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.6,.17,.65,.41);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 45px;
    color: rgb(252, 255, 241);
    margin-left: 20px;
  }

  .slowFade{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.6,.17,.65,.41);
  }

  .fastFade{
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(.6,.17,.65,.41);
  }

  h2{
    color: rgb(252, 255, 241);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: left;
    margin-left: 50px;
  }

  h3{
    color: rgb(252, 255, 241);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: 25px;
  }

  .gtrack {
    display: block;
    position: absolute;
    background-color: aqua;
    outline-color: aquamarine;
    outline-width: 5px;
    outline-style: solid;
  }

  .gridHolder {
    position: relative;
  }

  .grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 496px);
    grid-auto-rows: minmax(150px, 250px);
    grid-gap: 5px 5px;
  }

  .project{
    display: block;
    background-color: rgba(0, 51, 255, 0.13);
    border-radius: 11px;
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;

    animation-name: fadeInTwo;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(.6,.17,.65,.41);
  }

  .sandgen{
    background-image: url('images/sandgen3Splash.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .tarkovGetter{
    background-image: url('images/tarkovGetterCover.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .SFMLGE{
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background-image: url('images/SFMLGESlpash.jpg');
    background-size: 100%;
  }

  .SFMLGE:hover{
    animation: crossFadeTarkov 0.5s linear;
  }

  .SFMLGEScroll{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background-repeat: repeat;
    background-size: 200%;
    background-position: 0% 0%;
    animation: backgroundScroll 20s linear infinite;
    z-index: 1;
  }

  .SFMLGEScroll:hover{
    background-image: url('images/sfml-ge-scroll.png');
    cursor:pointer;
  }

  .sandgen:hover{
    animation: crossFadeTarkov 0.5s linear;
  }

  .sandgenScroll{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background-size: 100%;
    z-index: 1;
  }

  .sandgenScroll:hover{
    background-image: url('images/sandgenPreview.gif');
  }

  .tarkovGetter:hover{
    background-image: none;
    animation: crossFadeTarkov 0.5s linear;
  }

  .tarkovScroller {
    background-image: none;
    z-index: -5;
    width: 100%;
    height: 100%;
    background-size: 200%;
    background-repeat: repeat;
    background-position: 0% 0%;
    animation: backgroundScroll 10s linear infinite;
    border-radius: 11px;
    object-fit: cover;
  }

  .tarkovScroller:hover{
    background-image: url('images/tarkovGetterBG.jpg');
  }

  .block{
    color: rgb(252, 255, 241);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    margin: auto;
    width: 90%;
    padding: 5px;

    min-width: 495px;
    min-height: 200px;

    height: auto;

    background-color: rgba(32, 32, 34, 0.281);
    outline-color: black;
    outline-style: dashed;
    outline-width: 3px;

    animation-name: fadeInTwo;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(.6,.17,.65,.41);
  }

  @media screen and (max-width: 600px) {
    .grid{
      grid-template-columns: repeat(auto-fit, 247.5px);
      grid-auto-rows: minmax(75px, 125px);
    }
    .block{
      min-width: 250px;
    }
  }

  @media screen and (min-width: 1650px) {
    .block{
      width: 62%;
    }
  }


  .hrA {
    scale: 75%;
    animation-name: scaleUp;
    animation-duration: 1.8s;
  }
  .hrB {
    scale: 65%;
    animation-name: scaleUp;
    animation-duration: 1.8s;
  }