
html{
    font-family: 'Bender', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background : repeating-conic-gradient(#10181d 0% 25%, #000000 0% 50%) 50% / 8px 8px;
    margin:0;
    padding:0;
}

.banner{
    height: 40px;
    background-color: rgba(24, 28, 27, 0.966);
    padding: 10px;
}

.clickableA {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.tarkovDevIcon{
    background-image: url("tarkov-dev-logo.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 300px;
}

.itemInfo {
    z-index: 5;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: large;

    position: -webkit-sticky; /* Safari */
    position: sticky;

    display: block;


    top: 0;
    margin: auto;
    
    overflow: hidden;

    background-color:#0a0f12f4;
}

.descHolder{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.itemDesc{
    font-size: large;
    
    text-align: center;
    width: 25%;
    
    
}

.flexBase{
    display: flex;
    margin: auto;
    width: 100%;

    flex-direction: column;

    background-color: #0a0f12dc;
    border-radius: 5px;

    margin-bottom: 5px;
}


.itemHolder{
    display: grid;
    background-color: #0e0a1267;

    margin: auto;
    margin-top: 15px;

    width:95%;
    
    grid-template-columns: repeat(auto-fit, 64px);
    grid-auto-flow: dense;

    justify-content: center;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;

    background-color: #0000003e;
    border-radius: 4px;
    overflow: hidden;
}

.item{
    position: relative;
    background-repeat:no-repeat;
    background-image: url("https://assets.tarkov.dev/5c94bbff86f7747ee735c08f-grid-image.webp");
    overflow: hidden;

    
}

mark{
    background-color: #00000000;
    color: #fff799;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hideText{
    font-size: 0px;
}

.standout{
    background-color: #00000000;
    color: #fff5f5;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.badPrice{
    background-color: #00000000;
    color: #ff0000;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.okayPrice{
    background-color: #00000000;
    color: #ffbf00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.goodPrice{
    background-color: #00000000;
    color: #15ff00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.itemText{
    font-size:medium;
    position: absolute;

    bottom: 0px;
    left: 3px;
    

    top: 0px;

    color: #ede6ca;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 1;
}

.itemDiffText{
    font-size:medium;
    position: absolute;

    bottom: 0px;
    left: 3px;
    

    top: 0px;

    color: #ede6ca;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 1;
}

.item:hover{
    filter: contrast(0.85);
}

.toggleButton:hover{
    border-color: #ede6ca;
    transition-duration: 0.25s;
}

.toggleButton{
    border-radius: 5px;
    border-style: solid;
    border-color: #fff5f528;
    background-color: #00000000;
    color: #fff5f5;
    transition-duration: 0.25s;
}